body {
    margin: auto;
    min-height: 120vh;
}

.navbar {
    display: inline-flex;
    align-items: center;
    height: 400px;
    padding-left: 20px;
    font-size: 30px;
    padding-left: 50px;    
}

.header__logo {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.header__menu {
    text-transform: uppercase;
    font-family: 'Prata', serif;
}

li {
    list-style-type: none;
    display: inline-flex;
    margin: 15px;
}

a {
    text-decoration: none;
    transition: 0.4s ease-in-out;
    color: #4d970b;
}

a:hover {
    color: chartreuse;
}

section {
    display: inline-block;
}

main {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    font-family: 'Prata', serif;
    color: #4D970B;
    font-size: 38px;
}

.people__field {
    display: flex;
    flex-wrap: wrap;
}

.contact__person {
    display: flex;
    margin: 5vh;
}

.person__img {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin: 20px;
}

.person__title {
    font-family: 'Prata', serif;
    color: #4D970B;
    font-size: 18px;
}

.person__text {
    max-width: 300px;
    width: 100%;
}

.fa-envelope-square, .fa-phone-square {
    color: #4D970B;
    margin-right: 5px;
}

a:hover {
    cursor: pointer;
}

.contact__form {
    margin: 5vh;
}

.form__title {
    font-family: 'Prata', serif;
    font-size: 22px;
    color: #4D970B;
    text-align: center;
}

.container {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2vh;
    border: 5px solid #4D970B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.label {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 18px;
    font-weight: 600;
    color: #4D970B;
}

.input-field, .message-field {
    border: 2px solid #4D970B;
}

.input-field {
    height: 30px;
}

.input-field:hover, .input-field:focus, .message-field:hover, .message-field:focus {
    border: 2px solid #4D970B;
    background-color: #E0FFC4;
    cursor: pointer;
}

.input-field:focus, .message-field:focus {
    font-style:bold;
}

.button {
    padding: 20px;
    width: 30%;
    align-self: center;
    margin-top: 30px;
    background-color: #4D970B;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.button:hover {
    background-color: #D81090;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 100px;
    background-color: rgba(100, 216, 16, 0.2);
    margin-top: 60px;
    margin-bottom: 40px;
    /* margin-left: -5px;
    margin-right: -5px; */
    border-top: solid 3px #64D810;
    border-bottom: solid 3px #64D810;
}

.footer__menu {
    display: flex;
    justify-content: center;

}

.navbar {
    display: inline-flex;
    align-items: center;
    height: 400px;
    padding-left: 20px;
    font-size: 30px;
    padding-left: 50px;    
}

.header__logo {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.header__menu {
    text-transform: uppercase;
    font-family: 'Prata', serif;
}

li {
    list-style-type: none;
    display: inline-flex;
    margin: 15px;
}

@media screen and (max-width: 800px) {
   
    .navbar {
        height: 20vh;
    }
    .header__logo {
        transform: scale(0.6);
    }
    .header__menu {
        font-size: 20px;
    }
    main {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .contact__title {
        font-size: 20px;
    }
    .contact__person {
        flex-direction: column;
    }
    .container--bottom {
        flex-direction: column;
    }

    .header__logo {
        display: none;
    }
    .header__menu {
        font-size: 14px;
    }
}
