
/* fonts
headings 
font-family: 'Prata', serif;
text 
 font-family: 'Lato', sans-serif;
 font-weight: 300;
*/

/* color theme
lime green #64D810
dark green #4D970B
light green #E0FFC4
magenta #D81090
dark magenta #970B65
*/


.navbar {
    display: inline-flex;
    align-items: center;
    height: 400px;
    padding-left: 20px;
    font-size: 30px;
    padding-left: 50px;    
}

.header__logo {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.header__menu {
    text-transform: uppercase;
    font-family: 'Prata', serif;
}

li {
    list-style-type: none;
    display: inline-flex;
    margin: 15px;
}

a {
    text-decoration: none;
    transition: 0.4s ease-in-out;
    color: #4d970b;
}

a:hover {
    color: chartreuse;
}

section {
    display: inline-block;
}