
/* fonts
headings 
font-family: 'Prata', serif;
text 
 font-family: 'Lato', sans-serif;
 font-weight: 300;
*/

/* color theme
lime green #64D810
dark green #4D970B
light green #E0FFC4
magenta #D81090
dark magenta #970B65
*/


